
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


.background-img{
  min-width: 375px;
  min-height: 110px;
  padding-top: 20%; /* 너비에 대한 높이 비율 */
  background-image: url('./images/bg-desktop-light.jpg');
  background-size: cover;
  position: absolute;
  left:0px;
  right: 0px;
}

/* 취소선 */
.completed{
  text-decoration: line-through;
}

/*main container potion absolute 주기*/
.main{
max-width: 640px;  
height: 700px;
position: relative;
padding: 60px;
/* 화면 끝에서 50% 좌측으로 이동한 것 면적에서 x축기준 -50만큼 이동 */
margin: auto;

}

.title{
  width: 100%;
  font-family: "Josefin Sans";
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 15px;

}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.todo-input-wrapper {
  display: flex;
  align-items: center; /* 수직 정렬 추가 */
  gap: 24px; /* 요소들 사이의 간격 조정 */
  width: 100%;
  height: 64px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
  margin-top: 15px;
  padding: 20px;
}


.todo-input {
  width: calc(100% - 24px); /* 텍스트 입력 필드의 너비 조정 */
  width: 100%;
  height: 100%;
  border: none;
  font-family: "Josefin Sans";
  font-size: 18px;
  color: #494C6B;
  font-weight: 400;
  letter-spacing: -0.25px;
  outline: none;
}

.todo-input-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}


.todo-input::placeholder{
 font-family: "Josefin Sans";
  color: #9495A5;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.25px;
}

.todo-check{
  display: none;
}

.checkbox-label {
  min-width: 24px;
  min-height: 24px;
  background-color: #FFF;
  border: 1px solid #E3E4F1;
  border-radius: 50%; /* 100%에서 50%로 수정 */
  display: flex; 
  justify-content: center; 
  align-items: center;
}


/*ul, il 스타일링 */

.todo-list{
  width: 100%;
  height: auto;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
  list-style-type: none;
  padding: 0;
}
.todo-item{
  color: #494C6B;
  font-family: "Josefin Sans";
  font-size: 18px;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 25px;
  border-bottom: 1px solid #E3E4F1;
}
.todo-check:checked + .checkbox-label {
  /* 이미지 채우기 */
  background-image: url('./images/check.png');
  background-size: cover;
}

.footer{
  max-width: 540px;
  height: 51px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left:24px ;
}

.count{
  display: flex;
  flex-direction: row;
  font-family: "Josefin Sans";
  color: #9495A5;
  font-size: 14px;
}

.buttons{
  width: 166px;
  height: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons button{
  font-family: "Josefin Sans";
  font-weight: 700px;
  color: #9495A5;
  border:0;
  background-color: transparent;
  cursor: pointer;
}

.buttons button:hover {
  color: #494C6B;
}

.buttons button:active {
  color: #3A7CFD;
}

.buttons button:focus {
  color: #3A7CFD;
}

.clear button{
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 24px;
  font-family: "Josefin Sans";
  font-weight: 350;
}

.clear button:hover{
  color: #494C6B;
}


/* todo-list 에서 리스트 호버 했을 때, className="material-icons" 표시하기 */
.todo-item {
  position: relative; /* 리스트 항목 내부에 material-icons를 상대적으로 배치하기 위해 필요함.*/
}

.mobile-todo-item{
  position: relative;
}

.material-icons {
  display: none; /*초기에 material-icons를 숨김*/
  position: absolute; /* material-icons를 리스트 항목에 상대적으로 배치합니다 */
  transform: translateY(-50%); /* 아이콘을 정확히 세로 중앙에 위치시킵니다 */
  top: 50%; /*todo-item의 위쪽에서 20px 떨어진 부분에 위치*/
  right: 20px; /*todo-item의 오른쪽에서 20px 떨어진 부분에 위치*/
  
}

.todo-item:hover .material-icons {
  display: inline-block; /*리스트 항목을 호버할 때 material-icons를 표시, 줄바꿈 x*/
  cursor: pointer;
}
